@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    &__logo {
      margin: $mobile-padding-after-headlines;
      &--image {
        width: $logo-width;
        height: $logo-height;
      }
    }
    &__search {
      display: flex;
      flex-direction: column;
      margin: 0 $mobile-padding-after-headlines;
      &--input {
        background-image: url(../../assets/Icons/search.svg);
        background-repeat: no-repeat;
        background-position: 0.5rem;
        width: 80%;
        height: 2rem;
        border: $mercury solid $form-border;
        border-radius: $form-radius;
        padding-left: 2rem;
        &::placeholder {
          color: $brainFlix-darkblack;
        }
      }
      &--button {
        @include mobile-button;
        background-image: url(../../assets/Icons/upload.svg);
        margin-top: $mobile-padding-after-headlines;
      }
    }
    &__avatar {
      @include avatar;
      background-image: url(../../assets/Images/Mohan-muruge.jpg);
      background-size: cover;
      position: absolute;
      right: 1rem;
      top: 3.6rem;
    }
  }
  @include tablet {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    &__logo {
      margin: $desktop-padding-after-headlines;
    }
    &__search {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 1.2rem;
      &--input {
        height: $button-height;
        width: 15rem;
        margin-left: $desktop-padding-before-headlines;
      }
      &--button {
        margin: 0;
        width: 12rem;
        margin-left: $desktop-padding-before-headlines;
      }
    }
    &__avatar {
      right: $desktop-padding-after-headlines;
      top: 1.3rem;
    }
  }
}

.video {
  background-color: $brainFlix-darkblack;
  width: 100%;
  &__current {
    width: 100%;
    height: 100%;
  }
  @include mobile {
    margin-top: $mobile-padding-after-headlines;
  }
  @include tablet {
    margin-top: 0;
  }
}

.comment {
  text-align: left;
  color: $brainFlix-black;
  &__divider {
    height: $divider-size;
    background-color: $mercury;
    margin: $mobile-padding-after-headlines;
  }
  &__heading {
    &--text {
      color: $brainFlix-black;
      text-align: left;
    }
  }
  @include mobile {
    &__heading {
      &--text {
        font-size: $mobile-font-size-header;
        margin: $mobile-padding-after-headlines;
      }
    }
    &__detail {
      display: flex;
      justify-content: flex-start;
      margin: $mobile-padding-after-headlines;
      &--author {
        width: 50%;
        text-align: left;
        &-name {
          font-size: $mobile-font-size-subheader;
          font-weight: $font-weight-demi;
        }
        &-time {
          color: $silver;
          font-weight: $font-weight-regular;
          font-size: $mobile-font-size-body;
          margin-top: $mobile-padding-after-headlines;
        }
      }
      &--watch {
        width: 50%;
        &-view {
          display: flex;
          &-amount {
            color: $silver;
            font-weight: $font-weight-regular;
            font-size: $mobile-font-size-body;
            margin-left: $mobile-padding-between-components;
          }
        }
        &-like {
          display: flex;
          margin-top: $mobile-padding-after-headlines;
          &-amount {
            color: $silver;
            font-weight: $font-weight-regular;
            font-size: $mobile-font-size-body;
            margin-left: $mobile-padding-between-components;
          }
        }
      }
    }
    &__description {
      margin: $mobile-padding-after-headlines;
      &--text {
        font-size: $mobile-font-size-body;
      }
      &--amount {
        margin-top: $mobile-padding-after-headlines;
        font-size: $mobile-font-size-body;
        font-weight: $font-weight-demi;
      }
    }
    &__form {
      margin: $mobile-padding-after-headlines;
      &--avatar {
        @include avatar;
        background-image: url(../../assets/Images/Mohan-muruge.jpg);
        background-size: cover;
        position: absolute;
        margin-top: 1rem;
      }
      &--input {
        &-label {
          position: relative;
          left: 20%;
          color: $silver;
          font-size: $mobile-font-size-body;
          font-weight: $font-weight-demi;
        }
        &-add {
          width: 80%;
          position: relative;
          left: 20%;
          height: 6rem;
          margin-top: 0.5rem;
          outline: none;
          border: $mercury solid $form-border;
          border-radius: $form-radius;
          background-color: $alabaster;
          &::placeholder {
            color: $brainFlix-black;
            padding: 0.75rem 0 0 0.75rem;
          }
        }
      }
      &--button {
        &-comment {
          @include mobile-button;
          width: 80%;
          position: relative;
          left: 20%;
          background-image: url(../../assets/Icons/add_comment.svg);
          margin-top: $mobile-padding-after-headlines;
        }
      }
    }
    &__card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: $mobile-padding-after-headlines;
      &--avatar {
        @include avatar;
        background-size: cover;
      }
      &--info {
        display: flex;
        justify-content: space-between;
        width: 80%;
        height: fit-content;
        &-name {
          font-size: $mobile-font-size-body;
          font-weight: $font-weight-demi;
        }
        &-time {
          font-size: $mobile-font-size-body;
          font-weight: $font-weight-regular;
          color: $silver;
        }
      }
      &--text {
        &-detail {
          width: 80%;
          position: relative;
          left: 20%;
          font-size: $mobile-font-size-body;
          font-weight: $font-weight-regular;
        }
      }
      &--divider {
        width: 100%;
        height: $divider-size;
        background-color: $mercury;
        margin: $mobile-padding-after-headlines 0 0 0;
      }
    }
  }
  @include tablet {
    &__divider-first {
      display: none;
    }
    &__divider {
      margin: $desktop-padding-after-headlines;
    }
    &__heading {
      &--text {
        margin: $desktop-padding-after-headlines;
        font-size: $desktop-font-size-header;
      }
    }
    &__detail {
      display: flex;
      margin: $desktop-padding-after-headlines;
      &--author {
        display: flex;
        width: 50%;
        justify-content: flex-start;
        &-name {
          font-size: $desktop-font-size-body;
        }
        &-time {
          font-size: $desktop-font-size-body;
          margin: 0;
          margin-left: $desktop-padding-between-components;
        }
      }
      &--watch {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        &-view {
          &-amount {
            font-size: $desktop-font-size-body;
          }
        }
        &-like {
          margin: 0;
          margin-left: $desktop-padding-between-components;
          &-amount {
            font-size: $desktop-font-size-body;
          }
        }
      }
    }
    &__description {
      margin: $desktop-padding-after-headlines;
      &--text {
        font-size: $desktop-font-size-body;
        line-height: 1.2rem;
      }
      &--amount {
        font-size: $desktop-font-size-body;
        font-weight: $font-weight-bold;
      }
    }
    &__form {
      margin: $desktop-padding-after-headlines;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      &--avatar {
        position: relative;
      }
      &--input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        &-label {
          left: 5%;
        }
        &-add {
          width: 100%;
          height: $button-height;
          font-size: $desktop-font-size-label;
          left: 5%;
        }
      }
      &--button {
        width: 30%;
        margin: 0;
      }
    }
    &__card {
      margin: $desktop-padding-after-headlines;
      &--info {
        width: 93%;
      }
      &--text {
        &-detail {
          width: 93%;
          font-size: $desktop-font-size-body;
          left: 7%;
        }
      }
    }
  }
}

.next {
  @include mobile {
    &__heading {
      text-align: left;
      margin: $mobile-padding-after-headlines 0 0
        $mobile-padding-after-headlines;
      &--text {
        color: $silver;
        font-size: $mobile-font-size-subheader;
        font-weight: $font-weight-demi;
      }
    }
    &__videos {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      margin-bottom: 2rem;
      &--video {
        display: flex;
        &-image {
          background-color: $mercury;
          border-radius: $image-radius;
          width: 30%;
          margin: $mobile-padding-between-components
            $mobile-padding-between-components 0
            $mobile-padding-between-components;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &__title {
            font-size: $mobile-font-size-body;
            font-weight: $font-weight-demi;
            color: $brainFlix-darkblack;
            margin-top: $mobile-padding-after-headlines;
          }
          &__description {
            font-size: $mobile-font-size-body;
            font-weight: $font-weight-regular;
            color: $brainFlix-black;
          }
        }
      }
    }
  }
  @include tablet {
    &__heading {
      margin: $desktop-padding-after-headlines 0 0
        $desktop-padding-after-headlines;
      &--text {
        font-size: $desktop-font-size-subheader;
      }
    }
    &__videos {
      &--video {
        &-image {
          width: 15%;
          margin: $desktop-padding-between-components
            $desktop-padding-between-components 0
            $desktop-padding-between-components;
        }
        &-text {
          &__title {
            margin-top: $desktop-padding-after-headlines;
            width: 80%;
          }
        }
      }
    }
  }
}
