@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Avenir", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.comment {
  text-align: left;
  color: #323232;
}
.comment__divider {
  height: 1px;
  background-color: #E1E1E1;
  margin: 16px;
}
.comment__heading--text {
  color: #323232;
  text-align: left;
}
@media screen and (min-width: 320px) {
  .comment__heading--text {
    font-size: 24px;
    margin: 16px;
  }
  .comment__detail {
    display: flex;
    justify-content: flex-start;
    margin: 16px;
  }
  .comment__detail--author {
    width: 50%;
    text-align: left;
  }
  .comment__detail--author-name {
    font-size: 13px;
    font-weight: 600;
  }
  .comment__detail--author-time {
    color: #AFAFAF;
    font-weight: 400;
    font-size: 13px;
    margin-top: 16px;
  }
  .comment__detail--watch {
    width: 50%;
  }
  .comment__detail--watch-view {
    display: flex;
  }
  .comment__detail--watch-view-amount {
    color: #AFAFAF;
    font-weight: 400;
    font-size: 13px;
    margin-left: 16px;
  }
  .comment__detail--watch-like {
    display: flex;
    margin-top: 16px;
  }
  .comment__detail--watch-like-amount {
    color: #AFAFAF;
    font-weight: 400;
    font-size: 13px;
    margin-left: 16px;
  }
  .comment__description {
    margin: 16px;
  }
  .comment__description--text {
    font-size: 13px;
  }
  .comment__description--amount {
    margin-top: 16px;
    font-size: 13px;
    font-weight: 600;
  }
  .comment__form {
    margin: 16px;
  }
  .comment__form--avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E1E1E1;
    background-image: url(../../assets/Images/Mohan-muruge.jpg);
    background-size: cover;
    position: absolute;
    margin-top: 1.4rem;
  }
  .comment__form--input-label {
    position: relative;
    left: 20%;
    color: #AFAFAF;
    font-size: 13px;
    font-weight: 600;
  }
  .comment__form--input-name {
    resize: none;
    width: 80%;
    position: relative;
    left: 20%;
    height: 2rem;
    margin-top: 0.5rem;
    outline: none;
    border: #E1E1E1 solid 1px;
    border-radius: 4px;
    background-color: #FAFAFA;
    outline: none;
    padding-left: 0.75rem;
  }
  .comment__form--input-name:focus {
    border: #0095FF solid 2px;
  }
  .comment__form--input-name::-moz-placeholder {
    color: #323232;
  }
  .comment__form--input-name::placeholder {
    color: #323232;
  }
  .comment__form--input-name-error {
    border: red solid 1px;
  }
  .comment__form--input-add {
    resize: none;
    width: 80%;
    position: relative;
    left: 20%;
    height: 6rem;
    margin-top: 0.5rem;
    outline: none;
    border: #E1E1E1 solid 1px;
    border-radius: 4px;
    background-color: #FAFAFA;
    outline: none;
    padding: 0.75rem 0 0 0.75rem;
  }
  .comment__form--input-add:focus {
    border: #0095FF solid 2px;
  }
  .comment__form--input-add::-moz-placeholder {
    color: #323232;
  }
  .comment__form--input-add::placeholder {
    color: #323232;
  }
  .comment__form--input-add-error {
    border: red solid 1px;
  }
  .comment__form--button-comment {
    width: 100%;
    height: 40px;
    background-color: #0095FF;
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.3rem;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    width: 80%;
    position: relative;
    left: 20%;
    background-image: url(../../assets/Icons/add_comment.svg);
    margin-top: 16px;
  }
  .comment__form--button-comment:hover {
    background-color: #0065AD;
    cursor: pointer;
  }
  .comment__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px;
  }
  .comment__card--avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E1E1E1;
    background-size: cover;
  }
  .comment__card--info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .comment__card--info-name {
    font-size: 13px;
    font-weight: 600;
  }
  .comment__card--info-time {
    font-size: 13px;
    font-weight: 400;
    color: #AFAFAF;
  }
  .comment__card--text {
    width: 100%;
  }
  .comment__card--text-detail {
    width: 80%;
    position: relative;
    left: 20%;
    font-size: 13px;
    font-weight: 400;
  }
  .comment__card--divider {
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;
    margin: 16px 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  .comment__divider-first {
    display: none;
  }
  .comment__divider {
    margin: 24px;
  }
  .comment__heading--text {
    margin: 24px;
    font-size: 33px;
  }
  .comment__detail {
    display: flex;
    margin: 24px;
  }
  .comment__detail--author {
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }
  .comment__detail--author-name {
    font-size: 14px;
  }
  .comment__detail--author-time {
    font-size: 14px;
    margin: 0;
    margin-left: 24px;
  }
  .comment__detail--watch {
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }
  .comment__detail--watch-view-amount {
    font-size: 14px;
  }
  .comment__detail--watch-like {
    margin: 0;
    margin-left: 24px;
  }
  .comment__detail--watch-like-amount {
    font-size: 14px;
  }
  .comment__description {
    margin: 24px;
  }
  .comment__description--text {
    font-size: 14px;
    line-height: 1.2rem;
  }
  .comment__description--amount {
    font-size: 14px;
    font-weight: 700;
  }
  .comment__form {
    margin: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .comment__form--avatar {
    position: relative;
  }
  .comment__form--input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }
  .comment__form--input-label {
    left: 5%;
  }
  .comment__form--input-name {
    width: 50%;
    height: 2rem;
    font-size: 12px;
    left: 5%;
  }
  .comment__form--input-add {
    width: 100%;
    height: 40px;
    font-size: 12px;
    left: 5%;
  }
  .comment__form--button {
    width: 30%;
    margin: 0;
  }
  .comment__card {
    margin: 24px;
  }
  .comment__card--info {
    width: 93%;
  }
  .comment__card--text-detail {
    width: 93%;
    font-size: 14px;
    left: 7%;
  }
}
@media screen and (min-width: 1280px) {
  .comment {
    margin-bottom: 6rem;
  }
  .comment__heading--text {
    margin: 36px 0 1rem 6rem;
  }
  .comment__divider {
    margin: 24px 0 0 6rem;
  }
  .comment__detail {
    margin: 24px 2rem 0 6rem;
  }
  .comment__description {
    margin: 24px 2rem 0 6rem;
  }
  .comment__description--amount {
    margin-top: 2rem;
  }
  .comment__form {
    margin: 24px 2rem 0 6rem;
  }
  .comment__card {
    margin: 24px 0 0 6rem;
    justify-content: flex-start;
  }
  .comment__card--info {
    width: 87%;
    margin-left: 24px;
  }
  .comment__card--text-detail {
    width: 87%;
    margin-left: 24px;
    left: 5%;
  }
  .comment__card--divider {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=VideoComments.css.map */